<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Pardo</title>
</head>
<boddy>
    <nav>
        <li>PERFIL</li>
        <li>PORTAFOLIO</li>
        <li>EDUCACIÓN</li>
        <li>HABILIDADES</li>
    </nav>
    <div class="container">
        <div>
            <header class="header" id="header">
                <div class="pic-contacto">
                    <img src="./assets/profile.png" alt="profile picture" class="profile-pic">
                    <button class="contact-button">CONTACTO</button>
                </div>
                <div class="profile-text-container">
                    <p>{{perfilText}}</p>
                </div>
            </header>
        </div>

        <h2>PORTAFOLIO</h2>


        <h2>HABILIDADES</h2>

        <div id="habilidades">

            <div class="habilidades-esp">
                <h3>Lenguajes, frameworks y tecnologias de desarrollo</h3>
                <ol>
                    <li v-for='habilidad in habilidadesPro'>
                        <a>{{habilidad.nombre}}</a>
                        <br>
                        <progress id="file" value="90" max="100"></progress>
                    </li>
                </ol>

            </div>

            <div class="habilidades-comp">
                <h3>SOFTWARE Y HABILIDADES ADICIONALES</h3>
                <ol>
                    <li v-for='habilidad in habilidadesCom'>
                        <a>{{habilidad.nombre}}</a>
                        <br>
                        <progress id="file" value="80" max="100"></progress>
                    </li>
                </ol>
            </div>


        </div>

    </div>
</boddy>

<script>
    var app = new Vue({
        el: '#header',
        data: {
            perfilText: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur quia delectus est ex? Veniam sapiente accusantium ratione repellat praesentium nostrum totam, non animi, consequuntur atque nobis sed doloribus explicabo!"
        }
    })
    var port = new Vue({
        el: '#portafolio',
        data: {
            proyectos: [{
                nombre: 'AMI web',
                pic: './assets/slide.svg'
            }, {
                nombre: 'AMI mobile',
                pic: './assets/slide.svg'
            }, {
                nombre: 'CRUD PHP',
                pic: './assets/slide.svg'
            }, {
                nombre: 'API NodeJS y SQL',
                pic: './assets/slide.svg'
            }]
        }
    })
    var habilidades = new Vue({
        el: '#habilidades',
        data: {
            habilidadesPro: [{
                nombre: 'Angular'
            }, {
                nombre: 'React Native'
            }, {
                nombre: 'Vue.js'
            }],

            habilidadesCom: [{
                nombre: 'Photoshop'
            }, {
                nombre: 'Ilustrator'
            }, {
                nombre: 'Figma'
            }]
        }
    })
</script>

<!--Codigo para el funcionamiento del slideshow-->
<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "flex";
        dots[slideIndex - 1].className += " active";
    }
</script>

</html>