<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="./assets/profile.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Pardo</title>
</head>
<nav>
    <li>PERFIL</li>
    <li>PORTAFOLIO</li>
    <li>EDUCACIÓN</li>
    <li>HABILIDADES</li>
</nav>
<boddy>
    <div class="container">
        <div>
            <header class="header" id="header">
                <div class="pic-contacto">
                    <img src="./assets/profile.png" alt="profile picture" class="profile-pic">
                    <button class="contact-button">CONTACTO</button>
                </div>
                <div class="profile-text-container">
                    <p>{{perfilText}}</p>
                </div>
            </header>
        </div>

        <h2>PORTAFOLIO</h2>

        <div id="portafolio" class="portafolio">
            <img v-bind:src='proyectos[index].pic' alt="">
            <a>{{proyectos[index].nombre}}</a>
            <div class="prevNextContainer">
                <button v-on:click="prevSlide"><</button>
                <button v-on:click="nextSlide">></button>
            </div>
        </div>

    </div>

    <hr>
    <h2>HABILIDADES</h2>

    <div id="habilidades">

        <div class="habilidades-esp">
            <h3>Lenguajes, frameworks y tecnologias de desarrollo</h3>
            <ol>
                <li v-for='habilidad in habilidadesPro'>
                    <a>{{habilidad.nombre}}</a>
                    <br>
                    <progress id="file" value="90" max="100"></progress>
                </li>
            </ol>

        </div>

        <div class="habilidades-comp">
            <h3>SOFTWARE Y HABILIDADES ADICIONALES</h3>
            <ol>
                <li v-for='habilidad in habilidadesCom'>
                    <a>{{habilidad.nombre}}</a>
                    <br>
                    <progress id="file" value="80" max="100"></progress>
                </li>
            </ol>
        </div>


    </div>

    </div>
</boddy>

<script>
    var app = new Vue({
        el: '#header',
        data: {
            perfilText: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur quia delectus est ex? Veniam sapiente accusantium ratione repellat praesentium nostrum totam, non animi, consequuntur atque nobis sed doloribus explicabo!"
        }
    })
    var port = new Vue({
        el: '#portafolio',
        data: {
            proyectos: [{
                nombre: 'AMI web',
                pic: './assets/ami.svg'
            }, {
                nombre: 'AMI mobile',
                pic: './assets/ami-mobile.svg',
                imageStyle: ''
            }, {
                nombre: 'CRUD PHP',
                pic: './assets/php.svg'
            }, {
                nombre: 'API NodeJS y SQL',
                pic: './assets/nodeJS.svg'
            }],

            index: 0
        },
        methods: {
            nextSlide: function() {
                if (this.index == this.proyectos.length - 1) {
                    this.index = 0
                } else {
                    this.index = this.index + 1
                }
            },
            prevSlide: function() {
                if (this.index == 0) {
                    this.index = this.proyectos.length - 1
                } else {
                    this.index = this.index - 1
                }
                console.log(this.index)
            }
        }
    })
    var habilidades = new Vue({
        el: '#habilidades',
        data: {
            habilidadesPro: [{
                nombre: 'Angular'
            }, {
                nombre: 'React Native'
            }, {
                nombre: 'Vue.js'
            }],

            habilidadesCom: [{
                nombre: 'Photoshop'
            }, {
                nombre: 'Ilustrator'
            }, {
                nombre: 'Figma'
            }]
        }
    })
</script>

</html>