:root {
    --main-hightloght-color: #F39696;
    --bg-section: #374057;
    --color-headers: #2c3e50;
    --color-highlight-green: #00AF4E;
    --color-light-gray: #EEEFF2;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

nav {
    justify-content: space-around;
    display: flex;
    width: 100%;
    background-color: #000;
    height: 3rem;
    top: 0;
    left: 0;
    position: fixed;
}

nav li {
    color: #fff;
    list-style: none;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.header {
    display: flex;
    align-items: center;
}

.profile-pic {
    height: 15rem;
    background-color: var(--main-hightloght-color);
    border-radius: 11rem;
}

.profile-text-container {
    -webkit-box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 8rem;
    margin-left: 2rem;
}

.pic-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-button {
    width: 10rem;
    margin-top: 1rem;
    height: 2rem;
    border-radius: 1rem;
    border: solid 1px;
    background-color: white;
    font-style: italic;
    outline: none;
}

.contact-button:hover {
    cursor: pointer;
    background-color: black;
    color: #fff;
}


/*Seccion portafolioi*/

.portafolio {
    margin-right: auto;
}

.portafolio li {
    list-style: none;
}

.portafolio img {
    width: 40rem;
    align-self: center;
}

.portafolio a {
    text-align: center;
    background-color: #fff;
    margin-top: -4rem;
    padding: 0.5rem;
    width: 10rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-style: italic;
}

.portafolio button {
    width: 2.5rem;
    font-size: 3rem;
    background-color: transparent;
    border: none;
    background-color: rgba(145, 144, 144, 0.295);
}

.portafolio button:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

.prevNextContainer {
    display: flex;
    width: 40rem;
}

h2 {
    text-align: center;
    font-style: italic;
    font-weight: 100;
    font-size: 3rem;
}

* {
    box-sizing: border-box
}

h3 {
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

.habilidades-esp,
.habilidades-comp {
    -webkit-box-shadow: 4px 10px 34px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 10px 34px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 10px 34px -6px rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 3rem;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.habilidades-esp li,
.habilidades-comp li {
    margin-top: 1rem;
    list-style: none;
}

progress {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    nav {
        display: none;
    }
    .profile-text-container {
        display: none;
    }
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .portafolio img {
        width: 25rem;
        align-self: center;
    }
}