:root {
    --main-hightloght-color: #F39696;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin-top: 5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    justify-content: space-around;
    display: flex;
    width: 100%;
    background-color: #000;
    height: 3rem;
    top: 0;
    left: 0;
    position: fixed;
}

nav li {
    color: #fff;
    list-style: none;
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.header {
    display: flex;
    align-items: center;
}

.profile-pic {
    height: 15rem;
    background-color: var(--main-hightloght-color);
    border-radius: 11rem;
}

.profile-text-container {
    -webkit-box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 19px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 8rem;
    margin-left: 2rem;
}

.pic-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-button {
    width: 10rem;
    margin-top: 1rem;
    height: 2rem;
    border-radius: 1rem;
    border: solid 1px;
    background-color: white;
    font-style: italic;
    outline: none;
}

.contact-button:hover {
    cursor: pointer;
    background-color: black;
    color: #fff;
}

h2 {
    text-align: center;
    font-style: italic;
    font-weight: 100;
    font-size: 3rem;
}

* {
    box-sizing: border-box
}

h3 {
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

.habilidades-esp,
.habilidades-comp {
    -webkit-box-shadow: 4px 10px 34px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 10px 34px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 10px 34px -6px rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

.habilidades-esp li,
.habilidades-comp li {
    margin-top: 1rem;
    list-style: none;
}

progress {
    width: 80%;
}