.profile {
    display: flex;
    flex-direction: column;
}

.profileImage {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.perfilButton {
    width: 100%;
}

.habCont {
    -webkit-box-shadow: -1px 1px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 16px 0px rgba(0, 0, 0, 0.75);
    padding: 1rem;
    border-radius: 1rem;
}

.contac {
    -webkit-box-shadow: -1px 1px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 16px 0px rgba(0, 0, 0, 0.75);
    padding: 1rem;
    border-radius: 1rem;
}