.profile {
    display: flex;
    flex-direction: column;
}

.profileImage {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.perfilButton {
    width: 100%;
}

.habCont {
    -webkit-box-shadow: -1px 1px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 16px 0px rgba(0, 0, 0, 0.75);
    padding: 1rem;
    border-radius: 1rem;
    background-color: white;
}

.contac {
    -webkit-box-shadow: -1px 1px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 16px 0px rgba(0, 0, 0, 0.75);
    padding: 1rem;
    border-radius: 1rem;
    background-color: white
}

.genCont {
    background-color: rgba(4, 4, 53, 0.849);
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 5rem;
}

body {
    background-image: url(./assets/background.jpg);
    background-attachment: fixed;
}

.contac2 {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

@media (min-width: 700px) {
    .btn {
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }
    .perfilButton {
        margin-left: 22.5rem;
    }
}